// /////////////////////////
// @@ TITLE PAGES
// ////////////////////////

// Front page

.frontpage
  background-color: $front-page-bcg
  color: white
  .frontpage-wrapper
    display: grid
    grid-template-columns: auto
    grid-template-rows: auto auto
    .menu-wrapper
      padding: 20px
      justify-self: end
    .header
      text-align: center
      justify-self: center
      align-self: center
