// /////////////////////////
// @@ NAVIGATION
// ////////////////////////

.menu-wrapper
  .menu-show-btn
    cursor: pointer
    display: block
    &.hidden
      display: none
  .menu
    display: none
    &.menu-visible
      display: block

  ul
    li
      float: left
      padding: 0 25px
      a
        font-size: 1.6em
        color: rgba(255,255,255, 0.5)