// /////////////////////////
// @@ BASE
// ////////////////////////

body
  font-size: 16px
  font-family: 'Work Sans', sans-serif
  //todo een font-face van dit lettertype

h1
  font-size: 4.5em

h2
  font-size: 3em


a
  color: white
  text-decoration: none
